* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.game-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.tetris-grid {
  margin: 0px 10px;
}

.tetris-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tetris-cell {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 0.25px solid red;
}

@media screen and (max-width: 500px) {
  .tetris-cell {
    width: 18px;
    height: 18px;
  }
}